* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
}

html{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

button:hover { 
    opacity: 0.8;
    color: black;
    font-style: italic;
    transition: font-style 0.15s ease-in-out;
}

button {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgb(12, 12, 13, 0.5);
    box-shadow: 1px 4px 10px rgb(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
}

.flex-column {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Page title */
h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 3px 2px 5px rgba(5, 11, 61, 0.8);
}

/* Status bar */
.results {
    background: #ffcd70a1;
    box-shadow: 1px 4px 10px rgb(0, 0, 0, 0.5);
    min-height: 100px;
}

.points{
    color: rgba(26, 4, 123);
}

.points > div {
    background:rgb(225, 247, 251);
    box-shadow: 1px 4px 10px rgb(0, 0, 0, 0.5);
    width: 150px;
    height: 70px;
    margin: 5px;
}

h3, p {
    margin: 0;
}

button#cash, #send {
    background-color: rgb(16, 168, 192);
}

button#reset, #close {
    background-color: rgb(109, 66, 211);
}

/* Tasks add form */
.input {
    box-shadow: 1px 1px 2px rgb(32, 17, 107);
    width: 350px;
    border: none;
    color: #444;
    font-size: 20px;
}

.input::placeholder {
    color: #d5d5d5;
}

.input:focus {
    outline-color: rgba(0,212,255,1);
}

/* Tasks list */
small {
    color: #fffafa;
}

ul.todos {
    list-style-type: none;
    align-items: flex-start;
}

ul.todos li {
    background-color: rgba(225, 247, 251, 0.91);
    cursor: pointer;
    font-size: 20px;
    width: 350px;
    min-height: 30px;
    padding: 10px;
    margin: 2px;
}

ul.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}

/* Cashout receipt */
table {
    border: 1px solid black;
    margin: auto;
}

tbody {
    margin: 0;
}

#earning {
    color: #106a0c;
    font-weight: bold;
}

/* MODAL for receipt*/
.modal {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    padding: 20px;
    margin: auto;
}

.modal-content {
    background-color: rgba(250, 243, 243);
    max-width: 350px;
    animation: fadeIn 0.5s;
    margin: auto;
    padding: 20px;
}

.fadeout {
    animation: fadeOut 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

footer {
    color: #f4efef;
    font-size: smaller;
}